:root {
    --announcement-height: 38px;
    --nav-main-height: 61px;
    --nav-height: calc(var(--nav-main-height) + var(--announcement-height));
    --height-fill: calc(100vh - var(--nav-height));
    --height-full: 100vh;
    --padding-x: 24px;
    --padding-x-neg: calc(-1 * var(--padding-x));
    --color-bg: #F6F6F4;
    --color-primary: #E2DCD2;
    --primary: #E2DCD2;
    --secondary: #fff;
    --text: #000;
    --color1: #E4E1DC;
    --color2: #EFECE6;
    --color3: #848484;
    --hover: #C5C5C5;
    --font-cardinal: "Cardinal Fruit", serif;
    --font-untitled: "Untitled Sans", sans-serif;
    --font-primary: var(--font-cardinal);
    --font-secondary: var(--font-untitled);
    --color-white: #ffffff;
    --color-charcoal: #3E3E3D;
    --color-charcoal-border: rgba(62, 62, 61, .2);
    --color-charcoal-border-30: rgba(62, 62, 61, .3)
}

@media (max-width: 1399.98px) {
    .footer__nav-item:not(:last-child) {
        margin-right: 30px
    }

    .footer-wrapper {
        max-width: 85%
    }

    .contact-main-form {
        padding: 0px !important;
    }

    .contact-main-form .content-side {
        padding: 16px;
    }

    .contact-main-form .description {
        margin-left: 16px;
    }

    .home-content.about-content {
        bottom: -215px;
    }

    .blog-footer {
        margin: 0px 20px 20px 20px;
    }
}

@media (max-width: 1199.98px) {
    .search-result__products {
        grid-column-end: 10
    }

    .search-result__articles {
        padding-left: 20px
    }

    .instagram__img {
        max-height: 210px;
        min-height: 210px
    }

    .footer {
        grid-template-columns: repeat(1, 1fr)
    }

    .footer__nav {
        flex-wrap: wrap;
        justify-content: center
    }

    .footer__nav-item:not(:last-child) {
        margin-right: 12px;
        margin-bottom: 5px
    }

    .footer-title {
        font-size: 24px;
        line-height: 31px
    }



    .mega-menu {
        top: 49px;
        z-index: -1;
        background-color: #f6f6f4
    }

    .mega-menu__grid {
        padding: 0;
        max-height: 100%
    }

    .mega-menu__wrapper {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: -1
    }

    .mega-menu__item {
        margin-right: 0
    }

    .mega-menu__link:not(.link-active) {
        color: #acacab
    }

    .mega-menu .link-active:after {
        display: none
    }

    .mega-menu ul>li>a {
        font-size: 18px;
        line-height: 26px;
        border-bottom: 1px solid #ede9e3
    }

    .mega-menu--mobile .mega-menu__grid {
        padding: 0 25px
    }

    .mega-menu__back-link,
    .mega-menu ul>li>a {
        padding: 22px 25px 26px;
        display: block
    }

    .mega-menu__back-link {
        padding-left: 0;
        padding-right: 0
    }

    .mega-menu .input-placeholder {
        top: -5px
    }

    .mega-menu .products--mobile-shop:not(.products--mobile-shop-active) {
        display: none
    }

    .mega-menu .products--mobile-shop .feature-content__tab {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        height: calc(100% - 75px);
        background-color: #f6f6f4;
        z-index: 99;
        padding: 25px;
        overflow-y: auto
    }
}

@media (min-width: 1200px) {

    .pagination-move__prev-arrow,
    .pagination-move__next-arrow {
        display: none
    }

    .navbar__search {
        padding-bottom: 100px
    }

    .mega-menu__back-item {
        display: none
    }

    .mobile-nav {
        display: none
    }
}

@media screen and (max-width:1024.98px) {
    .mb-0-1024 {
        margin-bottom: 0 !important
    }

    .sus-hero-sustain .sus-hero__main-title {
        margin-bottom: 30px;
    }

    .sus-hero-sustain .sus-hero__wrapper {
        padding-top: 85px;
    }

    hr {
        margin: 50px 0px;
    }

    .sus-hero-sustain .sus-hero__foot {
        bottom: 75px;
    }

    .half_width_first:not(.mh-auto),
    .main__makeup-img:not(.mh-auto) {
        max-height: 500px
    }

    .contactus-modal {
        padding: 30px !important;
    }

    .mobile-nav {
        display: none;
    }

    .btn {
        padding: 15px 27px;
        text-align: center
    }

    .btn:not(.d-inline-block-767) {
        display: block
    }

    .shop_main__products {
        row-gap: 30px
    }

    .border-right {
        border-color: #efece6
    }

    .mb-20-1024 {
        margin-bottom: 20px
    }

    .mb-23-1024 {
        margin-bottom: 23px
    }

    .mb-30-1024 {
        margin-bottom: 30px
    }

    .mb-50-1024 {
        margin-bottom: 50px
    }

    .mlr-mnus-15-1024 {
        margin-left: -15px;
        margin-right: -15px
    }

    .pb-0-1024 {
        padding-bottom: 0
    }

    .pt-100-1024 {
        padding-top: 100px !important
    }

    .pb-100-1024 {
        padding-bottom: 100px !important
    }

    .ptb-100-1024 {
        padding-top: 100px !important;
        padding-bottom: 100px !important
    }

    .text-center-1024 {
        text-align: center
    }

    .d-none-1024 {
        display: none
    }

    .column-rev-1024 {
        display: flex;
        flex-direction: column-reverse
    }

    .w-auto-1024 {
        width: auto !important
    }

    .justify-content-center-1024 {
        justify-content: center
    }

    .column-1-1024 {
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }

    .bg-black-1024 {
        background-color: #000;
        color: #fff
    }

    .order-1-1024 {
        order: 1
    }

    .order-2-1024 {
        order: 2
    }
}

@media (max-width: 992.98px) {

    /* .blog-details__nav {
        position: fixed;
        right: 20px;
        z-index: 99;
        top: 49px;
        margin-right: -20px;
    } */
    .lg-show,
    .mobile-nav,
    .blog-grid-second {
        display: block !important
    }

    .how-work {
        margin: 0px !important;
    }

    .people-saying__carousel.owl-carousel .owl-stage-outer {}

    .home-content {
        margin-top: 60px !important;
    }

    .navbar-main .header {
        display: none;
    }

    .gallery--video-gallery .article-card__image {
        height: 183px
    }

    .quick-product {
        align-items: flex-start
    }

    .quick-product .single-product {
        grid-template-columns: repeat(1, 1fr)
    }

    .footer .subscribe-box {
        gap: 20px;
        display: grid;
        grid-template-columns: auto;
        border-bottom: none
    }

    .faq {
        grid-template-columns: 100% !important;
        padding-bottom: 100px
    }

    .faq--principle .accordian__head {
        grid-template-columns: 85% 15%
    }

    .faq--principle .accordian__body {
        gap: 25px;
        grid-template-columns: auto
    }

    .faq--principle .accordian__body .accordian__img-box {
        display: block
    }

    .help-center__categories {
        grid-template-columns: repeat(2, 1fr)
    }

    .contact-form {
        margin-top: 50px
    }

    .footer .subscribe-box input {
        width: 100%;
        border-bottom: 1px solid var(--hover)
    }

    .footer .subscribe-box button {
        display: block;
        background-color: var(--primary);
        color: var(--text);
        font-size: 14px;
        line-height: 20px;
        padding: 15px 27px;
        font-weight: 400;
        border-radius: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        max-width: 100%
    }

    .footer .subscribe-box button:hover {
        background-color: var(--text);
        color: #fff
    }

    .footer-logos>div>img {
        max-width: 50%
    }

    .lg-hide {
        display: none !important
    }

    .header .main__search {
        padding-left: 45px;
        padding-right: 45px
    }

    .header .main__search-container {
        top: 89px;
        border-top: 1px solid #e2dcd2
    }

    .footer-part-three .footer__nav,
    .footer-part-three .footer-nav-desktop {
        display: none
    }

    .news-letter__wrapper {
        top: unset;
        bottom: 0;
        left: 0;
        transform: translate(0);
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr)
    }

    .news-letter__content {
        text-align: left
    }

    .news-letter__img-box {
        display: none
    }

    .news-letter__box {
        max-width: 100%;
        padding: 25px
    }

    .news-letter__title {
        font-size: 32px;
        line-height: 39px;
        margin: 25px 0 10px
    }

    .news-letter .subscribe-box {
        border: 0;
        flex-direction: column
    }

    .news-letter .subscribe__input {
        border-bottom: 1px solid var(--text);
        width: 100%;
        margin-bottom: 25px;
        border-radius: 0
    }

    .foundation--full-ingredients {
        grid-template-columns: repeat(1, 1fr)
    }

    .news-letter .subscribe__submit {
        background-color: var(--secondary);
        text-align: center;
        font-size: 14px;
        line-height: 20.54px;
        padding: 15px 27px;
        max-width: 100%;
        color: var(--text);
        border-radius: 0
    }

    .news-letter .subscribe__submit:hover {
        background-color: var(--text);
        color: var(--secondary)
    }
}


@media (min-width: 992px) {
    .footer-wrapper-grid {
        grid-template-columns: 1fr 1.25fr;
        display: grid
    }

    .model--about .model__body {
        padding-left: 20px;
        padding-right: 20px
    }

    .model--about .model-about-wrapper .our-ingredients__wrapper {
        padding: 120px 0 50px
    }

    .model--about .model-about-wrapper .our-ingredients__content {
        max-width: 880px
    }

    .quick-product__wrapper {
        width: 920px
    }

    .model--about .model__ingredients {
        max-width: 880px;
        padding-top: 50px;
        padding-bottom: 200px
    }

    .foundation {
        margin: 0 auto 200px
    }

    .footer-wrapper--mobile {
        display: none
    }

    .single-product-carousel {
        display: none !important
    }

    .ethical-ingredients__hide-desktop {
        display: none
    }

    .mega-menu__link {
        margin: 0 10px;
        padding: 0 15px 5px
    }

    .faq .accordian__title {
        font-size: 18px;
        line-height: 27px
    }

    .mega-menu__link:after {
        left: 15px;
        right: 15px;
        bottom: 6px;
        width: auto
    }
}


@media (max-width: 768.98px) {
    header {
        padding: 0
    }

    .blog-card-body h4 {
        font-weight: 500;
        /* height: 100px; */
    }

    .welness-card {
        width: 100%;
    }

    .how-to-use .page-width {
        padding: 0px 20px;
    }

    .welness-card {
        width: 100% !important;
    }
    .blog-detail-banner h2 {
        margin-top: 70%;
        font-size: 24px !important;
        line-height: 32px !important;
        color: black !important;
    }
    .feature-content.feature-content--collection {
        padding: 0px 20px;
    }

    .sustain__title {
        font-size: 32px;
        line-height: 39px;
        margin-right: 80px;
    }
    .sustain__width{
        margin-top: 130px;
    }

    .content-box__title {
        padding: 20px 20px 0px 20px;
    }

    .follow-us {
        overflow-x: hidden;
    }

    .clinical-result-grid .left-side,
    .alternative .page-width,
    .based-on-review,
    .brightness-section,
    .faq .page-width {
        margin: 0px 20px;
    }

    .based-on-review {
        margin-bottom: 40px;
    }

    .key-ingredients-grid {
        margin: 0px 20px;
    }

    .sus-hero-sustain {
        margin: 0px;
    }

    .founder {
        margin: 25px;
    }

    .home-wrapper {
        bottom: -30%;
        top: unset;
    }

    .home-main-wrapper {
        bottom: 10%;
    }

    .our-prinicples {
        margin: 0px 25px;
        overflow-x: hidden;
    }

    .makeup-container hr {
        margin: 25px 0px;
    }

    .toggle-password-visibility {
        bottom: 180px;
    }

    .footer-part-three {
        padding-left: 0px !important;
    }

    .contact-main-form {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-main-form .content-side {
        padding: 16px 0px;
    }

    .blog-main {
        margin-top: 55px;
    }

    .sus-hero-sustain {
        margin-top: 0px !important;
    }

    .footer-part-three {
        display: block;
        padding: 20px 0px 20px 20px;
        margin-left: 20px;
    }

    .help-center__sub-title {
        font-size: 22px;
    }

    .footer {
        padding: 0px !important;
    }

    .contact-main-form .description {
        margin-left: 0px;
    }

    .navbar-main {
        display: none;
    }

    .model--about .model-about-wrapper .our-ingredients__wrapper {
        padding-top: 0
    }

    .file-uploader {
        grid-template-columns: 1fr
    }

    .md-show-flex {
        display: flex
    }

    .free-photo__box {
        grid-template-columns: 1fr
    }

    .form-container.form-success {
        position: relative;
        margin-top: 54px
    }

    .large-ustext-height {
        height: 200px;
        margin-top: 10px;
    }

    .section-large-usp-text h2 {
        line-height: 40px !important;
    }

    .model--about .model__title--no-border {
        border-bottom: none !important
    }

    .quick-product__content {
        padding-bottom: 0 !important
    }

    .quick-product__close-wrapper,
    .quick-product .single-product__category,
    .quick-product .single-product__title,
    .model.modal--ingredients .feature-nav,
    .model.modal--ingredients-about .feature-nav,
    .quick-product .single-product__title,
    .quick-product .single-product__product-color-box {
        display: none
    }

    .model--about .model__title {
        margin-bottom: 0 !important;
        padding-top: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid #f6f6f4 !important
    }

    .model.modal--ingredients-about .model-about-wrapper {
        padding-bottom: 70px
    }

    .product-card__carousel--recent {
        overflow: hidden
    }

    .subscribe {
        padding-top: 40px
    }

    .model {
        background: linear-gradient(180deg, var(--primary) 35.33%, #f6f6f4 58.58%);
        mix-blend-mode: normal
    }

    .model--about {
        background: #f6f6f4
    }

    .footer-logos>div>img {
        max-width: 100%
    }

    .gallery__sub-title {
        margin-bottom: 10px
    }

    .mobile-menu-links>ul>li>a {
        font-size: 16px;
        line-height: 23px
    }

    .blog-details__nav .feature-tabs {
        padding: 10px 14px;
    }

    .md-show-grid {
        display: grid
    }

    .errors {
        margin-top: 30px;
        margin-bottom: 0
    }

    .form-status.form-status-list.form__message {
        background: #e2dcd2;
        padding: 0 32px
    }

    .md-show-ib {
        display: inline-block
    }

    .md-show {
        display: block !important
    }

    .md-hide,
    .model .accordian__img-box {
        display: none !important
    }

    .sticky-top:not(.navbar-bottom-fixed) {
        position: relative
    }

    .main__brand {
        padding: 6px 30px !important
    }

    .main__brand .logo {
        max-height: 30px
    }

    .main__brand .logo>img {
        max-height: 30px
    }

    .model__feature-content {
        min-height: 100vh
    }


    .main__shipping {
        background-color: #0000
    }

    .h1,
    .h1-big,
    h1 {
        font-size: 48px;
        line-height: 55px
    }

    h2 {
        font-size: 32px;
        line-height: 39px
    }

    h3 {
        font-size: 24px;
        line-height: 28px
    }

    h4 {
        font-size: 20px;
        line-height: 24px
    }

    body {
        padding: 0px
    }

    .main__banner {
        height: 492px
    }

    .main__banner_767 {
        background-image: url(unset);
        align-items: center;
        flex-direction: column;
        padding: 0 0 30px
    }

    .main__banner_767:before {
        content: "";
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 492px;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 25px
    }

    .main__banner_767 .h1 {
        font-size: 32px;
        line-height: 39px;
        color: #000
    }

    .main__banner__wrapper {
        width: 100%
    }

    .main__makeupContainer {
        background-color: #efece6;
        padding: 25px 25px 0
    }

    .main__makeup img {
        max-height: 420px
    }

    .main__makeup-text__wrapper {
        padding: 26px 0 50px;
        max-width: 100%
    }

    .main__makeup-text ul {
        display: block
    }

    .main__makeup-text ul li:not(:last-child) {
        margin-bottom: 22px
    }

    .main__makeup-text ul li:before {
        margin-right: 10px
    }

    .main__makeup-text p {
        margin: 0 0 30px
    }

    .main__footer__widget2 .main__footer__mw {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    .main__footer__widget2 .main__footer__mw ul:not(:last-child) {
        margin-bottom: 17px
    }

    .main__perfect_wrapper {
        padding: 50px 0
    }

    .main__perfect2 {
        grid-area: 2/3/3/5
    }

    .main__perfect2>div>div {
        margin-top: -170px
    }

    .main__perfect3 {
        grid-area: 3/1/4/-1;
        padding: 45px 0 0
    }

    .main__perfect4 {
        grid-area: 1/1/2/4
    }

    .main__perfect5 {
        grid-area: 1/5/2/-1;
        display: grid;
        align-items: center;
        position: relative;
        z-index: 10
    }

    .main__feature__tabs {
        justify-content: center
    }

    .main__products__box {
        row-gap: 25px
    }

    .main__products__wrapper__price {
        justify-content: flex-start
    }

    .main__products__wrapper__price p {
        margin-bottom: 20px
    }

    .main__products__items {
        min-height: 430px
    }

    .main__products__item {
        padding: 25px 25px 0
    }

    .main__products__item:hover .main__products__item__abs>div {
        position: static
    }

    .main__products__item__abs {
        display: block
    }

    .main__products__item__abs:after {
        display: none
    }

    .main__cart {
        background-color: #e2dcd2;
        color: #000
    }

    .main__gallery {
        row-gap: 20px
    }

    .main__gal img {
        max-height: 500px
    }


    .main__header__card:not(.main__header__card--static) {
        padding: 0 25px 20px
    }

    .main__header__card__body h5,
    .main__header__card__body__shipping {
        font-size: 13px;
        line-height: 17px
    }

    .main__header__card__body__shipping {
        padding-bottom: 10px;
        border-bottom: 1px solid #e2dcd2
    }

    .main__header__card__close {
        right: 20px
    }

    .main__header__card--slidecart .main__header__card__body__2--1 .select-box {
        min-width: 100%
    }

    .main__footer__widget h5 {
        margin: 0 0 3px
    }

    .main__footer__widget2 ul li a {
        letter-spacing: 1px
    }

    .main__footer .submit {
        background-color: #e2dcd2;
        text-align: center;
        padding: 15px 27px
    }

    .main__subscribe>div:not(.border-0) {
        border: 0
    }

    .main__subscribe input {
        border-bottom: .5px solid #000
    }

    .main__subscribe.form-gray input {
        border-color: #848484
    }

    .main__header__card {
        background-color: #f6f6f4
    }

    .about_main__at-one-time {
        background-color: #e4e1dc
    }

    .mw-448 {
        max-width: 100%
    }

    .mh-839 {
        min-height: auto
    }

    .login_main__sec {
        padding: 50px 0 150px
    }

    .login_main__sec__wrapper {
        grid-area: 1/1/2/-1
    }

    textarea {
        min-height: 120px;
        max-height: 120px
    }

    .shop_main .main__products__item h5 {
        font-size: 14px;
        line-height: 24px
    }

    .shop_main__cont:not(.shop_main__cont--2) {
        text-align: left
    }

    .shop_main__feature__tabs {
        justify-content: flex-start
    }

    .shop_main__brand_div {
        text-align: left
    }

    .shop_main__products__item.main__products__item {
        min-height: 630px
    }

    .shop_main .main__products__wrapper__cont {
        grid-area: 1/1/2/-1
    }

    .shop_main .main__products__wrapper__price {
        grid-area: 2/1/3/-1
    }

    .product_main__item.main__makeup-text.product_main__prdt__item-text {
        padding: 25px 25px 0
    }

    .product_main__breath__accord__head {
        padding: 24px 0 25px
    }

    .product_main__colormatch {
        display: grid
    }

    .product_main__colormatch__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr)
    }

    .product_main__colormatch__h2 {
        padding-top: 14px
    }

    .product_main__breath__text.main__makeup-text p {
        margin: 0 0 20px
    }

    .product_main__gallery {
        background-color: #e4e1dc;
        padding-top: 50px;
        padding-bottom: 50px
    }

    .product_main__hero-ing__1 {
        padding-right: 0
    }

    .product_main__hero-ing__box2 img {
        max-height: 500px
    }

    .product_main__hero-ing__btns a {
        display: block;
        background-color: #e2dcd2;
        color: #000;
        font-size: 14px;
        line-height: 20.54px;
        padding: 15px 27px;
        font-weight: 400;
        border-radius: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center
    }

    .product_main__hero-ing__btns a.text-underline:after {
        display: none
    }

    .product_main__hero-ing__btns__2 a {
        background-color: #efece6
    }

    .product_main__reviews__rating {
        justify-content: center
    }

    .product_main__reviews ul li h3 {
        font-size: 36px;
        line-height: 42px
    }

    .product_main__reviews__ul li {
        position: relative
    }

    .product_main__reviews__ul li:first-child:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 20px;
        right: -25px;
        width: 32px;
        height: 1px;
        background-color: #000;
        transform: rotate(-75deg)
    }

    .product_main__reviews__ul .text-underline:after {
        display: none
    }

    .product_main__reviews__tabsContent.pt-76 {
        padding-top: 38px !important
    }

    .product_main__reviews .border-top {
        border: 0
    }

    .product_main__reviews__comments {
        padding: 45px 25px
    }

    .product_main__reviews__comments__2 h6 {
        font-size: 18px;
        line-height: 27px;
        margin: 0 0 15px
    }

    .product_main__fav__alsolikeHead {
        text-align: center
    }

    .product_main__pair {
        background-color: #e4e1dc
    }

    .product_main__pair__1 h5 {
        font-size: 14px;
        line-height: 24px
    }

    .product_main__pair__img1 {
        max-width: 40%;
        top: 60%
    }

    .product_main__rating--abs-767 {
        position: absolute;
        z-index: 1;
        top: 63px;
        right: 25px
    }

    .video_detail_main__intro {
        padding-top: 25px
    }

    .video_detail_main__foundation__2__card {
        background-color: #efece6
    }

    .video_detail_main__video {
        background-color: #e4e1dc;
    }

    .pes-btn:after {
        display: block
    }

    .sustain_main__banner__1 {
        display: flex;
        justify-content: space-between;
        height: 100%;
        flex-direction: column
    }

    .sustain_main__brands__div h4 {
        font-size: 16px;
        line-height: 23px;
        text-align: left;
        font-family: var(--font-secondary)
    }

    .sustain_main__Aleph {
        background-color: #e4e1dc
    }

    .sustain_main__Aleph__wrapper {
        text-align: left
    }

    .sustain_main__Aleph__lgo {
        justify-content: flex-start
    }

    .sustain_main__accord-hd {
        grid-area: 1/1/2/7
    }

    .sustain_main__accord-cont {
        grid-area: 1/1/2/-1
    }

    .sustain_main__accord-sign span {
        width: 20px
    }

    .sustain_main__principle__accordian__accord-hd {
        font-size: 21px;
        line-height: 26px
    }

    .sustain_main__principle__ h2 {
        margin: 0 0 105px
    }

    .sustain_main__join {
        background-color: #efece6
    }

    .sustain_main__join__accordian__accord-hd {
        font-size: 16px;
        line-height: 23px
    }

    .model .accordian__sign span {
        width: 15px
    }

    .model .accordian__sign span:first-of-type {
        top: 15px
    }

    .sustain_main__join__actions {
        padding: 30px 0 0
    }

    .sustain_main__join__accordian-head,
    .sustain_main__principle__accordian-head {
        padding: 24px 0
    }

    .model--about .model-header {
        border: none;
        background-color: #0000;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 99
    }

    .sustain_main__contact .main__makeup-img {
        min-height: auto
    }

    .divider,
    .grey-divider,
    hr.divider {
        border-color: #c5c5c5fc
    }

    .footer-part-two ul a:hover {
        color: #000
    }

    .footer-part-two ul a:hover:after {
        background-color: #0000
    }

    .faq {
        padding-bottom: 50px
    }

    .faq--principle .accordian__body {
        grid-template-columns: auto
    }

    .help-center {
        padding: 75px 0 25px
    }

    .help-center__categories {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 25px
    }

    .help-center__content {
        top: 50%
    }

    .help-center__title {
        margin-bottom: 30px
    }

    .help-center__wrapper {
        grid-template-columns: 100%
    }

    .help-center__sub-title {
        margin-bottom: 10px;
        font-size: 25px
    }

    .help-center__link {
        visibility: visible
    }

    .model--about .model-header {
        padding: 22px 20px
    }

    .model--about .model__ingredients-info {
        display: block
    }


    .single-product__dropdown,
    .slide-cart__shipping,
    .content-box__btn,
    .related-articles__gallery-wrapper .gallery--blog-gallery:nth-child(2),
    .faq-principle .accordian__body .accordian__img-box,
    .product-card__carousel--recent .owl-dots,
    .product-reviews__btn,
    .pair-product-carousel,
    .favourite-product__carousel,
    .pair-product__carousel,
    .owl-dots--styled .owl-dots,
    .model .accordian__img-box--mobile,
    .model--about .model__accordian--ingredients-info,
    .quick-product .single-product__product-color-box--mobile {
        display: none
    }
}

@media screen and (max-width:576px) {
    .main__coockieBox {
        max-width: 100%;
        padding: 13px 22px 24px
    }
    .btn-blog{
        margin-bottom: 50px;
    }
    .sus-hero-sustain .sus-hero__main-title:nth-child(1) {
        margin-top: 39%;
        margin-right: 80px;
    }
    .sus-hero-sustain .sus-hero__main-title:nth-child(2){
        margin-bottom: 30%;
    }

    .content-box__title,
    .fs-32-767 {
        font-size: 22px !important;
        line-height: 30px !important;
    }

    .image-text-content .inner {
        padding-bottom: 16px;
    }

    .btn {
        font-size: 12px;
        line-height: 18px;
    }

    .footer-wrapper ul {
        width: 100% !important;
    }

    .sustain__title {
        font-size: 24px;
        line-height: 32px;
    }

    .ingredients .text-list {
        font-size: 16px;
        line-height: 22px;
    }

    .more-blog-img {
        height: 320px;
    }

    .description-grid h4 {
        margin-bottom: 30px;
    }

    .blog-description p,
    .description-grid-benefits p,
    .description-grid p {
        font-size: 14px;
        line-height: 22px;
    }

    .btn-readmore {
        width: 100%;
        margin-bottom: 16px;
    }

    .main__coockieBox p {
        width: calc(100% - 40px)
    }

    .main__coockieBox .main__close {
        position: absolute;
        top: 30px;
        right: 22px
    }

    .main__header__card__body__1 {
        grid-area: 1/1/2/3
    }

    .main__header__card__body__2 {
        grid-area: 1/3/2/-1
    }

    .half_width_first:not(.mh-auto),
    .main__makeup-img:not(.mh-auto) {
        max-height: 420px
    }

    .product_main__pair__img1 {
        max-width: 40%;
        top: 56%
    }

    .select-box {
        padding: 12px
    }

    .select-box img {
        right: 8px
    }

    .sm-hide {
        display: none !important
    }

    .sm-show {
        display: block !important
    }
}

@media screen and (max-width: 480px) {
    body {
        -webkit-text-size-adjust: none
    }

 

    .main__perfect2>div>div {
        width: 180px;
        height: 144px
    }

    .shop_main__products__item.main__products__item {
        min-height: 530px
    }

    .sustain_main__banner {
        background-size: contain
    }
}

@media screen and (max-width:376px) {
    .main__perfect2>div>div {
        width: 140px;
        height: 144px
    }

    .product_main__prdt__item-text .btn {
        padding: 15px;
        font-size: 13px;
        line-height: 27px
    }
}

@media screen and (max-width:340px) {
    .product_main__skickyProduct__2__select-box p {
        font-size: 13px;
        line-height: 17px
    }
}


@media screen and (max-width:767px) {
    .m-0-767 {
        margin: 0 !important
    }

    .mt-0-767 {
        margin-top: 0 !important
    }
    .accordian__img-box{
        display: none;
    }
    .principle__title{
        font-size: 25px !important;
        line-height: 32px !important;
    }
    .mt-20-767 {
        margin-top: 20px
    }

    .mb-5-767 {
        margin-bottom: 5px
    }

    .mb-10-767 {
        margin-bottom: 10px !important
    }

    .mb-15-767 {
        margin-bottom: 15px !important
    }

    .mb-20-767 {
        margin-bottom: 20px !important
    }

    .mb-25-767 {
        margin-bottom: 25px !important
    }

    .mb-30-767 {
        margin-bottom: 30px !important
    }

    .mb-50-767 {
        margin-bottom: 50px
    }

    .mr-0-767 {
        margin-right: 0 !important
    }

    .mlr-mnus-20-767 {
        margin-left: -25px;
        margin-right: -25px
    }

    .p-0-767 {
        padding: 0
    }

    .pb-0-767 {
        padding-bottom: 0 !important
    }

    .p-25-767 {
        padding: 25px
    }

    .plr-25-767 {
        padding-left: 25px;
        padding-right: 25px
    }

    .pt-0-767 {
        padding-top: 0 !important
    }

    .pt-25-767 {
        padding-top: 25px !important
    }

    .pt-50-767,
    .pt-76 {
        padding-top: 50px !important
    }

    .pb-50-767 {
        padding-bottom: 50px !important
    }

    .ptb-50-767 {
        padding-top: 50px !important;
        padding-bottom: 50px !important
    }

    .ptb-100-767 {
        padding: 100px 0 !important
    }

    .d-block-767 {
        display: block
    }

    .d-none-767 {
        display: none
    }

    .d-inline-767 {
        display: inline
    }

    .w-100-767 {
        width: 100% !important
    }

    .mw-100-767 {
        max-width: 100% !important
    }

    .mxh-500-767 {
        max-height: 500px
    }

    .fs-24-767 {
        font-size: 24px;
        line-height: 28px
    }

    .fs-32-767 {
        font-size: 32px;
        line-height: 39px
    }

    .fs-48-767 {
        font-size: 48px;
        line-height: 55px
    }

    .text-center-767 {
        text-align: center
    }

    .text-left-767 {
        text-align: left
    }

    .column-rev-767 {
        flex-direction: column-reverse
    }

    .column-1-767 {
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }

    .grd-fr-767 {
        grid-area: 1/1/2/-1
    }

    .grd-sr-767 {
        grid-area: 2/1/3/-1
    }

    .bg-primary-767 {
        background-color: #e2dcd2 !important
    }

    .bg-off-white-767,
    .btn.bg-off-white-767 {
        background-color: #f6f6f4 !important
    }

    .bg-white-767,
    .btn.bg-white-767 {
        background-color: #fff !important
    }

    .bg-transp-767 {
        background-color: transparent !important
    }

    .order-1-767 {
        order: 1
    }

    .order-2-767 {
        order: 2
    }

    .order-3-767 {
        order: 3
    }

    .dots_styled .owl-dots {
        border-bottom: 1px solid rgba(197, 197, 197, .99)
    }
}