@font-face {
    font-family: 'Cardinal Fruit';
    src: url('CardinalFruit-Italic.woff2') format('woff2'),
        url('CardinalFruit-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

